
<p>
<strong>Title: </strong>
<%= @book.title %>
</p>

<% end %>

<p>
<strong>Body: </strong>
<%= @book.body %>
</p>

<% end %>

<p>
<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Back", books_path %>
</p>

<% end %>